.CommentCardContainer {
  margin-top: 15px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  transition: 0.5s;
}

.Comment {
  overflow: auto;
  border: 1px solid silver;
  background-color: #eff1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Image {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 0;
  transition: 0.5s;
}

.ImageEnlarged {
  width: 100%;
  height: 100%;
  max-width: 918px;
  max-height: 918px;
  transition: 0.5s;
}

.CommentMain {
  font-size: 18px;
  word-wrap: break-word;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b3b3b;
  padding-right: 10px;
  padding-left: 10px;
}

.Info {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 2px 3px;

  background-color: #d2d9d9;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Reply {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b3b3b;

  word-wrap: break-word;
  overflow-x: hidden;
  background-color: #f5f6f6;
  width: auto;
  margin: 2em;
  border-radius: 10px;
}
.ReplyFeatureImage {
  float: left;
  width: 100%;
  height: 100%;
  max-width: 918px;
  max-height: 918px;
  margin: 0 10px 0 0;
}

.ReplyInfo {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  padding: 0 0 2px 4px;
  background-color: #e3e7e7;
}

.VerLine {
  border-right: 1px solid lightgray;
  height: 0.5rem;
  width: 0px;
}

.ReplyButton {
  cursor: pointer;
  width: 1.6em;
  fill: silver;
  float: right;
}
.ReplyButton:hover {
  cursor: pointer;
  width: 1.6em;
  fill: currentColor;
  float: right;
  transition: 0.7s;
}
