.CommentCardContainer {
  margin-top: 15px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  transition: 0.5s;
}

.Comment {
  overflow: auto;
  border: 1px solid silver;
  background-color: #eff1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Image {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 0;
  transition: 0.5s;
}

.ImageEnlarged {
  max-width: 918px;
  width: 100%;
  max-height: 918px;
  height: 100%;
  transition: 0.5s;
}

.CommentMain {
  font-size: 18px;
  word-wrap: break-word;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 10px;
  padding-left: 10px;
}

.Info {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  padding: 0 0 0 3px;
  background-color: #d2d9d9;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
}

.VerLine {
  border-right: 1px solid lightgray;
  height: 0.5rem;
  width: 0px;
}
