.Logo {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 150px;
}

.NewCommentRef {
  display: none;
}

.Navbar {
  padding: 0 0.5rem 0 0 !important;
  background-color: #d2d9d9;
}

.ModalInfoBody {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}
