.ModalInfoContent {
  margin: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid silver;
  border-radius: 10px;
  color: #3b3b3b;
  font-size: 18px;
  background-color: #eff1f1;
}
.ModalNewsContent {
  margin: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid silver;
  border-radius: 10px;
  color: #3b3b3b;
  font-size: 18px;
  background-color: #eff1f1;
}
